<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <http pattern="/loginView" security="none" />
    <http auto-config="true">
        <csrf disabled="true"/>
        <form-login login-page="/loginView" username-parameter="username"
             password-parameter="password" />
        <intercept-url pattern="/icon/*.ico" access="permitAll" />
        <intercept-url pattern="/**" access="hasRole('ADMIN')" />
        
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserService" />
    </authentication-manager>
    
    <beans:bean id="customUserService" class="com.auuid.security.CustomUserService"></beans:bean>
</beans:beans>
