<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <http auto-config="true">
        <csrf disabled="true"/>
        <form-login login-page="/loginView" username-parameter="username"
             password-parameter="password" />
        <custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor" />
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="customUserService" />
    </authentication-manager>
    <beans:bean id="customUserService" class="com.auuid.security.CustomUserService" />
    
    <beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <beans:constructor-arg name="decisionVoters">
            <beans:list>  
                <beans:ref bean="roleVoter" />
                <beans:ref bean="authenticatedVoter" />
            </beans:list>  
        </beans:constructor-arg>  
    </beans:bean>
    <beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter" />
    <beans:bean id="authenticatedVoter" class="org.springframework.security.access.vote.AuthenticatedVoter" />  
    <beans:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">  
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="accessDecisionManager" ref="accessDecisionManager" />
        <beans:property name="securityMetadataSource" ref="securityMetadataSource" />
    </beans:bean>
    
    <beans:bean id="securityMetadataSource" class="com.auuid.security.SecurityMetadataSource"/>
</beans:beans>
